<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div>
        <% if(locals.products) {%>
            <table>
                <thead>
                    <th>S No.</th>
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>Price</th>
                    <th>StockQuantity</th>
                    <th>LastUpdatedStock</th>
                </thead>
                <tbody>
                    <% products.forEach((products, index) => { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= products.ProductID %></td>
                            <td><%= products.ProductName %></td>
                            <td><%= products.Price %></td>
                            <td><%= products.StockQuantity %></td>
                            <td><%= products.LastUpdatedStock %></td>
                        </tr>
                        
                    <% }) %>
                </tbody>
            </table>
        <%}%>
    </div>
</body>
</html>